body {
    font-family: 'Roboto Mono', monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

a {
    color: #569cd6;
    text-decoration: none;
}

a:hover{
     color: #b3d4fc;
}
header {
    background-color: #282828;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.title{
     margin-top: 0;
     font-size: 1.2rem;
     font-weight: normal;
}
#theme-toggle {
    background-color: #569cd6;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

#theme-toggle:hover {
    background-color: #417ab3;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #252525;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section h2 {
    color: #569cd6;
    border-bottom: 1px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
section p, li{
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-item{
    margin-bottom: 5px;
    display: flex;
}
.contact-item .icon{
    margin-right: 5px;
}
.interests ul,
.languages ul {
    list-style: none;
    padding: 0;
}

.interests li,
.languages li {
    margin-bottom: 0.5rem;
}

.languages li span{
    font-weight: bold;
    color: #569cd6;
    margin-right: 10px;
}

.certification-item{
    display: flex;
    align-items: center;
}
.certification-item .certification-content{
  margin-left: 10px;
}
.profiles {
    text-align: center;
}

.experience-item h3 {
    margin-bottom: 0.5rem;
    color: #569cd6;
}
.experience-item .sub-title {
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-style: italic;
}
.experience-item .date{
      font-size: 0.9rem;
    color: #999;
    margin-top: 0.5rem;
}
.experience-item ul{
    margin-left: 20px;
    list-style-type: square;
    padding-left: 1.2em;
}


.education-item h3 {
    margin-bottom: 0.5rem;
    color: #569cd6;
}

.education-item .sub-title {
    margin-bottom: 0.5rem;
     font-weight: normal;
    font-style: italic;
}
.education-item .date {
    font-size: 0.9rem;
    color: #999;
    margin-top: 0.5rem;
}
 .education-images {
        display: flex;
        justify-content: space-around;
         margin-top: 1rem;
       margin-bottom: 1rem;
        align-items: center;
    }

     .education-images img {
         width: 100px;
         height: 100px;
        object-fit: cover; /* Pour éviter la déformation de l'image */
       border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
         transition: transform 0.3s ease;
     }
       .education-images img:hover {
       transform: scale(1.05);
    }
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #282828;
}
/* Style for the profile image */
  .profile-image {
        text-align: center;
        margin-bottom: 2rem;
    }
    .profile-image img {
        width: 200px;
        height: 200px;
        border-radius: 50%; /* Pour un cercle */
        object-fit: cover; /* Pour éviter la déformation de l'image */
         border: 2px solid #569cd6;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
         margin-bottom: 10px;
         transition: transform 0.3s ease;
    }
     .profile-image img:hover {
       transform: scale(1.05);
    }
/* Animations */

.contact-item, .experience-item, .education-item {
  transition: transform 0.3s ease;
}

.contact-item:hover, .experience-item:hover, .education-item:hover {
  transform: translateY(-3px);
}

/* Thème clair */
#theme-body.light-theme {
    background-color: #f0f0f0;
    color: #333;
}
#theme-body.light-theme a {
    color: #007bff;
}
#theme-body.light-theme a:hover {
     color: #0056b3;
}
#theme-body.light-theme header {
    background-color: #e9ecef;
}
#theme-body.light-theme section {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
#theme-body.light-theme section h2{
  color: #007bff;
  border-bottom: 1px solid #ddd;
}
#theme-body.light-theme footer {
    background-color: #e9ecef;
}


@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
     section {
        padding: 1rem;
    }
     .certification-item {
        flex-direction: column;
         align-items: flex-start;

     }
    .certification-item .certification-content{
        margin-left: 0;
       margin-top: 10px;
    }

}
